*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Lato', sans-serif;
}
.first-section{
  display: flex;
  background-color: #FCEEF1;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 40px;
  justify-content: space-around;
}
.first-image{
width: 400px;
}
.heading{
  font-size: 50px;
}
.first-description{
  font-size: 15px;
  margin-top: 20px;
}
.btn-primary{
  padding: 10px 20px;
  background-color: #E55473;
  border: none;
  border-radius: 7px;
  color: white;
  margin-top: 20px;
}
.secound-heading{
  text-align: center;
  margin: 50px;
}
.secound-tittle{
  margin-bottom: 15px;
}
.images{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  
  
}
.first-image1{
  width: 195px;
  background-color: #F2DEE7;
  border-radius: 100px 100px 0px 0px;
}
.first-image2{
  width: 270px;
  background-color: #DAEFF1;
  border-radius: 100px 100px 0px 0px;
}
  
.first-image3{
  width: 180px;
  background-color: #E3ECDB;
  border-radius: 100px 100px 0px 0px;
 }
 .inner1{
  margin-top: 10px;
 }