*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Lato', sans-serif;
}
.first-section{
  display: flex;
  background-color: #FCEEF1;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 40px;
  justify-content: space-around;
}
.first-image{
width: 400px;
}
.heading{
  font-size: 50px;
}
.first-description{
  font-size: 15px;
  margin-top: 20px;
}
.btn-primary{
  padding: 10px 20px;
  background-color: #E55473;
  border: none;
  border-radius: 7px;
  color: white;
  margin-top: 20px;
}
.secound-heading{
  text-align: center;
  margin: 50px;
}
.images{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  
  
}
.first-image1{
  width: 195px;
  background-color: #F2DEE7;
  border-radius: 100px 100px 0px 0px;
}
.first-image2{
  width: 270px;
  background-color: #DAEFF1;
  border-radius: 200px 200px 0px 0px;
}
  
.first-image3{
  width: 180px;
  background-color: #E3ECDB;
  border-radius: 100px 100px 0px 0px;
 }
 .inner{
  margin-top: 15px;
 }
 .secound-description{
  margin-top: 10px;
 }
 .third-section{
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #FEF6F8;
  padding-left: 25%;
  margin-top: 5%;
 }
 .third-image{
  width: 250px;
  padding-left: 50%;
  padding-top: 10%;
  padding-bottom: 10%;
 }
 .span{
  color: #E55473;
 }
 .third-heading{
  margin-bottom: 20px;
 }
 .third-description{
  font-size: 15px;
 }
 .fourth-heading{
  text-align: center;
  margin: 70px;
 }
 .fourth-images{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
 }
 .form-tyme{
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .fifth-heading{
  text-align: center;
  padding-top: 100px;
 }
 .fifth-section{
 background-image:url(rectangle\ 9.png);
 background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  margin:5%;
  align-items: center;
 }
 .input-box{
  width: 700px;
height: 64px;
text-align: left;
margin-top: 10px;
padding-left: 10px;

 }
 .btn-primary2{
  padding: 10px 20px;
  background-color: #E55473;
  border: none;
  color: white;
  margin-top: 10px;
  width: 150px;
  height: 64px;
  margin-left: 10px;
  border-radius: 5px;
 }
 .fourth-description{
  font-size: 12px;
  margin-top: 10px;
 }
 .fourth-description1{
  margin-top: 10px;
 }
 .footer-section{
  text-align: center;
  color: white;
  background-color: black;
  align-items: center;
  height: 200px;
  padding-top: 100px;
 }
 .footer-heading{
  color: #E55473;
 }
 .last-heading{
margin-bottom: 10px;
 }
 .last-description{
  margin-bottom: 10px;
 }